h1{
    color:orange;
}
body{
    background-color:darkseagreen;
}

h2{
    color:magenta;
}
p{
    color:purple;
}
.header{

background-color: blueviolet;
display:flex;
justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.footer{
    display:flex;
    justify-content:flex-end;
}
p,h2{
    text-align:center;
}